@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
  }


/* Typing animation */

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 62ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* Typing animation end */


header a {
    @apply hover:cursor-pointer hover:text-primary; 
}

.frontend a {
    @apply text-lg text-white px-5 rounded mb-2 hover:bg-gray-700 hover:ring ring-primary h-1/6;
}

body p, h1, h2, a {
    @apply text-support;
}

.frontend p {
    @apply p-2 m-2;
}

.frontend img {
    @apply  w-[100%] h-[400px];
}

h2 {
  color: #34996c;
  text-shadow: 3px 2px black;
  padding-top: 1em;
}

.frontend h2 {
    @apply text-center capitalize text-2xl font-serif font-thin;
}

.frontend h3 {
    @apply text-center break-words font-extrabold text-3xl p-6;
}

.fullstack a {
    @apply text-lg text-white px-5 rounded mb-2 hover:bg-gray-700 hover:ring ring-primary;
}

.fullstack p {
   @apply m-2 p-2;
}

  h2 {
    @apply my-5;
  }

  @media (max-width: 991px) {

    .typing-demo {
      text-align: center;
      animation: none;
      width: 100%;
    }
    .avatar {
      position: fixed;
      bottom: 1em;
    }
  }