/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

/* Typing Animation */
.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 62ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Header Styling */
header a {
  @apply hover:cursor-pointer hover:text-primary;
}

/* Frontend Styling */
.frontend a {
  @apply text-lg text-white px-0 mb-0 md:px-5 md:mb-2 hover:shadow-[0_0_10px_3px_#64FFDA];
}
.frontend p {
  @apply p-2 m-2;
}

.frontend img {
  @apply w-[100%] h-[18em] rounded-3xl object-cover;
}

.frontend h2 {
  @apply text-center capitalize text-2xl font-serif font-thin;
}

.frontend h3 {
  @apply text-center break-words font-extrabold text-3xl p-6;
}

.frontend li {
  @apply text-primary mt-1;
}
button {
 @apply w-full bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700 transition;
}

/* Fullstack Styling */
.fullstack a {
  @apply text-white px-5 mb-2 hover:shadow-[0_0_10px_3px_#64FFDA];
}

.fullstack img {
  @apply w-[100%] h-[35em] rounded-3xl object-cover;
}

.fullstack p {
  @apply m-2 p-2;
}

/* Additional Styling */
body p, h1, h2, a {
  @apply text-support;
}

h2 {
  @apply text-primary pt-[1em] my-5;
}

.fullstack a {
  @apply text-white px-5 mb-2 hover:ring ring-primary w-full;
}

/* Responsive Styling */
@media (max-width: 991px) {
  .typing-demo {
    text-align: center;
    animation: none;
    width: 100%;
  }

  .avatar {
    position: fixed;
    bottom: 2em;
  }
  .frontend a {
    width: 95%;
    align-self: center;
  }
  .fullstack a {
    width: 95%;
    align-self: center;
  }
}